body {
  user-select: none;
}

.ControlPanel {
  height: 100%;
  width: 100px;
  position: fixed; /* Fixed Sidebar (stay in place) */
  z-index: 1; /* Stay on top */
  top: 0px;
  left: 0px;
  background-color: rgba(17, 17, 17, 0.75); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  color: white;
  padding-left: 10px;
  font-size: 15px;
}

.ControlPanel ul {
  list-style-type: none;
  padding: 0;
  
}

.ControlPanel ul li {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818181; /* Default color */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted for space between text and icon */
  cursor: pointer;
}

.ControlPanel ul li:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Apply yellow color to selected and visible groups */
.controlSelected,
.visible-group {
  color: rgb(253, 236, 51); /* Yellow color */
}

/* Ensure that a list item gets highlighted if it matches either selected or visible group */
.ControlPanel ul li.controlSelected,
.ControlPanel ul li.visible-group {
  color: rgb(253, 236, 51); /* Yellow color */
  
}

/* Ensure no conflict with default color for items not selected or visible */
.ControlPanel ul li:not(.controlSelected):not(.visible-group) {
  color: #818181; /* Default color for non-selected and non-visible groups */
}

.visibility-icon {
  margin-left: 10px; /* Added margin to position icon properly */
  cursor: pointer;
}

.selected-group-title {
  margin-top: 10px;
}

.satellite-data {
  margin-top: 20px;
}

.add-button {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #6a6d70;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin: 30px 25px 5px 25px;
}

.add-button:hover {
  background-color: #464747;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 17, 17, 0.75);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px; /* Set a fixed width */
  height: 400px; /* Set a fixed height */
  overflow-y: hidden; /* Make content scrollable */
  /* padding-bottom: 10px; Add padding to the bottom for the sticky button */
  position: relative; /* For positioning the sticky button */
}

.popup-content-inner {
  overflow-y: auto; /* Make the inner content scrollable */
  padding-bottom: 10px; /* Space between content and button */
  padding-right: 15px;
  flex-grow: 1; /* Allow the content to grow and fill space */
}

.popup-content button {
  margin: 5px 0;
  padding: 10px 20px;
  background-color: #45484b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.popup-content button:hover {
  background-color: #a4a5a7;
}

.close-popup {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
  cursor: pointer;
}

.add-to-watch-list {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff !important;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-to-watch-list:hover {
  background-color: #0056b3;
}

.add-to-watch-list:disabled {
  background-color: #6c757d; /* Gray color for disabled state */
}

.popup-content button.selected {
  background-color: #d3d3d3;
  color: rgb(7, 7, 7);
}

/* Style for the category buttons */
.category-button {
  background-color: #333;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.category-button:hover {
  background-color: #555;
}

/* Style for the expanded category content */
.category-content {
  margin-left: 15px; /* Indent the groups to show they are under the category */
  padding-left: 10px;
  border-left: 2px solid #555; /* Add a left border to visually connect the groups to the category */
}

/* Style for the group buttons */
.category-content button {
  background-color: #45484b;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px 0;
  cursor: pointer;
  width: calc(100% - 20px); /* Adjust width to fit within the container and leave space for padding */
  text-align: left;
  border-radius: 5px;
}

.category-content button:hover {
  background-color: #a4a5a7;
}

/* Style for selected group buttons */
.category-content button.selected {
  background-color: #d3d3d3;
  color: #000;
}